*.swp
*.so
*.DS_Store

# build
bin/
build/
_build/
_build.log
_install/
install_manifest.txt
Base.h.gch

# ccls
.ccls
.ccls-cache
compile_commands.json

# clangd cache
.clangd/

src/common/base/Base.h.gch
gen-*

# cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt
nebula-common-config.cmake
Makefile
cmake_install.cmake
CTestTestfile.cmake
CMakeFiles/
Testing/
target/
cluster.id
pids/

# IDE
.idea/
.project
.settings/
.classpath
cmake-build*/
.vscode/
.clang-format
